<div class="row">
    <div class="col-md-6">
        <div class="hpanel">
            <div class="panel-heading">
                {{ studentprofile.name }}
            </div>
            <div class="panel-body">
                <p>
                    <span class="h4">Name: {{ studentprofile.name }}</span>
                </p><hr/>
                <p>
                    <span class="h4">Institution: {{ studentprofile.institution.name }}</span>
                </p><hr/>
                <p>
                    <span class="h4">Course: {{ studentprofile.course.name }}</span>
                </p><hr/>
                <p>
                    <span class="h4">Last Updated: {{ timestampToDate(studentprofile.updated_on) }}</span>
                </p><hr/>
                <button class="btn btn-info btn-sm pull-left" ng-click="showform = true">Transfer or Update Info</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top: 12px;" ng-if="showform">
            <alert type="danger" close='closeAlert()' ng-if="show" 
                    dismiss-on-timeout="4000">{{errors}}
            </alert>
            <label for="institution">Institution</label>
            <select name="institution" id="institution" ng-options="i.name for i in institutions" ng-model="profileUpdate.institution" class="form-control m-2">
                <option value="">Select Institution</option>
            </select>

            <label for="course">Course</label>
            <select name="course" id="course" ng-options="c.name for c in profileUpdate.institution.courses" ng-model="profileUpdate.course" class="form-control m-2">
                <option value="">Select Course</option>
            </select>

            <label for="studentname" style="margin-top: 10px;">Student Name</label>
            <input placeholder="Enter Student Name" name="studentname" type="text" class="form-control" ng-model="profileUpdate.name"/>

            <button style="margin-top: 12px;" class="btn btn-primary btn-sm pull-left" ng-click="updateInfo()">
                <i ng-if="loading" class="fa fa-spinner fa-spin"></i>
                {{ loading ? 'Saving Changes...' : 'Finish Update' }}
            </button>
        </div>
    </div>
</div>